FTLCONF_webserver_api_password=
HARDCOVER_TOKEN="Bearer <TOKEN>"
TUNNEL_TOKEN_BOOKS=<CLAUDFLARE_ZERO_TRUST_BOOKS>
TUNNEL_TOKEN_PLEX=<CLAUDFLARE_ZERO_TRUST_PLEX>
TZ=<your-timezone-e.g.-America/Sao_Paulo>
PUID=1000
PGID=1000
UMASK=002
BOOKS_DATA_DIR=<path-to-books-data-e.g.-/mnt/external/books>
MEDIA_DATA_DIR=<path-to-media-data-e.g.-/home/user/media>
HOME_DOMAIN=home.example.com
ACME_EMAIL=<your-email-for-letsencrypt>
CF_API_TOKEN=<cloudflare-api-token-Zone-DNS-Edit>
HOST_LAN_IP=<lan-ip-of-this-host-e.g.-192.168.1.10>
